{
  "swagger": "2.0",
  "paths": {},
  "info": {
    "version": "1.0",
    "title": "Evercam Server"
  },
  "host": "media.evercam.io",
  "definitions": {
    "Vendor": {
      "type": "object",
      "title": "Vendor",
      "properties": {
        "name": {
          "type": "string",
          "description": ""
        },
        "logo": {
          "type": "string",
          "description": ""
        },
        "known_macs": {
          "type": "array",
          "enum": [
            "8C:AE:89",
            "00:0D:F0",
            "00:A1:B0"
          ],
          "description": ""
        },
        "id": {
          "type": "string",
          "description": ""
        }
      },
      "description": ""
    },
    "User": {
      "type": "object",
      "title": "User",
      "properties": {
        "username": {
          "type": "string",
          "description": ""
        },
        "updated_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "telegram_username": {
          "type": "string",
          "description": ""
        },
        "stripe_customer_id": {
          "type": "string",
          "description": ""
        },
        "lastname": {
          "type": "string",
          "description": ""
        },
        "last_login_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "intercom_hmac_ios": {
          "type": "string",
          "description": ""
        },
        "intercom_hmac_android": {
          "type": "string",
          "description": ""
        },
        "id": {
          "type": "string",
          "description": ""
        },
        "firstname": {
          "type": "string",
          "description": ""
        },
        "email": {
          "type": "string",
          "description": ""
        },
        "created_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "country": {
          "type": "string",
          "description": ""
        },
        "confirmed_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        }
      },
      "description": ""
    },
    "Snapmail": {
      "type": "object",
      "title": "Snapmail",
      "properties": {
        "title": {
          "type": "string",
          "description": ""
        },
        "timezone": {
          "type": "string",
          "description": ""
        },
        "requester_name": {
          "type": "string",
          "description": ""
        },
        "requester_email": {
          "type": "string",
          "description": ""
        },
        "requested_by": {
          "type": "string",
          "description": ""
        },
        "recipients": {
          "type": "string",
          "description": ""
        },
        "notify_time": {
          "type": "string",
          "description": ""
        },
        "notify_days": {
          "type": "string",
          "example": "Monday,Tuesday,Wednesday,Thursday,Friday,Saturday,Sunday",
          "description": ""
        },
        "message": {
          "type": "string",
          "description": ""
        },
        "is_public": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "is_paused": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "id": {
          "type": "string",
          "description": ""
        },
        "created_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-15T13:00:04+00:00",
          "description": ""
        },
        "camera_names": {
          "type": "string",
          "description": ""
        },
        "camera_ids": {
          "type": "string",
          "description": ""
        }
      },
      "description": ""
    },
    "Share": {
      "type": "object",
      "title": "Share",
      "properties": {
        "user_id": {
          "type": "string",
          "description": ""
        },
        "sharer_name": {
          "type": "string",
          "description": ""
        },
        "sharer_id": {
          "type": "string",
          "description": ""
        },
        "sharer_email": {
          "type": "string",
          "description": ""
        },
        "rights": {
          "type": "string",
          "example": "snapshot,list,share,view,edit",
          "description": ""
        },
        "kind": {
          "type": "string",
          "example": "public",
          "description": ""
        },
        "id": {
          "type": "integer",
          "description": ""
        },
        "fullname": {
          "type": "string",
          "description": ""
        },
        "email": {
          "type": "string",
          "description": ""
        },
        "camera_id": {
          "type": "string",
          "description": ""
        }
      },
      "description": ""
    },
    "Model": {
      "type": "object",
      "title": "Model",
      "properties": {
        "wifi": {
          "type": "boolean",
          "description": ""
        },
        "vendor_id": {
          "type": "string",
          "description": ""
        },
        "varifocal": {
          "type": "boolean",
          "description": ""
        },
        "username": {
          "type": "string",
          "description": ""
        },
        "upnp": {
          "type": "boolean",
          "description": ""
        },
        "shape": {
          "type": "string",
          "description": ""
        },
        "sd_card": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "resolution": {
          "type": "string",
          "description": ""
        },
        "ptz": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "psia": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "poe": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "password": {
          "type": "string",
          "description": ""
        },
        "onvif": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "official_url": {
          "type": "string",
          "description": ""
        },
        "name": {
          "type": "string",
          "description": ""
        },
        "mpeg4_url": {
          "type": "string",
          "description": ""
        },
        "more_info": {
          "type": "string",
          "description": ""
        },
        "mobile_url": {
          "type": "string",
          "description": ""
        },
        "mjpg_url": {
          "type": "string",
          "description": ""
        },
        "lowres_url": {
          "type": "string",
          "description": ""
        },
        "jpg_url": {
          "type": "string",
          "description": ""
        },
        "infrared": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "images": {
          "type": "object",
          "properties": {
            "thumbnail": {
              "type": "string",
              "description": ""
            },
            "original": {
              "type": "string",
              "description": ""
            },
            "icon": {
              "type": "string",
              "description": ""
            }
          }
        },
        "id": {
          "type": "string",
          "description": ""
        },
        "h264_url": {
          "type": "string",
          "description": ""
        },
        "discontinued": {
          "type": "boolean",
          "description": "",
          "default": false
        },
        "defaults": {
          "type": "object",
          "properties": {
            "snapshots": {
              "type": "object",
              "properties": {
                "mpeg4": {
                  "type": "string",
                  "description": ""
                },
                "mobile": {
                  "type": "string",
                  "description": ""
                },
                "mjpg": {
                  "type": "string",
                  "description": ""
                },
                "jpg": {
                  "type": "string",
                  "description": ""
                },
                "h264": {
                  "type": "string",
                  "description": ""
                }
              }
            },
            "auth": {
              "type": "object",
              "properties": {
                "basic": {
                  "type": "object",
                  "properties": {
                    "username": {
                      "type": "string",
                      "description": ""
                    },
                    "password": {
                      "type": "string",
                      "description": ""
                    }
                  }
                }
              }
            }
          }
        },
        "audio_url": {
          "type": "string",
          "description": ""
        },
        "audio_io": {
          "type": "boolean",
          "description": "",
          "default": false
        }
      },
      "description": ""
    },
    "Compare": {
      "type": "object",
      "title": "Compare",
      "properties": {
        "type": {
          "type": "string",
          "description": ""
        },
        "to_date": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "title": {
          "type": "string",
          "description": ""
        },
        "thumbnail_url": {
          "type": "string",
          "description": ""
        },
        "status": {
          "type": "string",
          "description": ""
        },
        "requester_name": {
          "type": "string",
          "description": ""
        },
        "requester_email": {
          "type": "string",
          "description": ""
        },
        "requested_by": {
          "type": "string",
          "description": ""
        },
        "public": {
          "type": "boolean",
          "description": "",
          "default": true
        },
        "media_url": {
          "type": "string",
          "description": ""
        },
        "id": {
          "type": "string",
          "description": ""
        },
        "from_date": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "frames": {
          "type": "integer",
          "description": ""
        },
        "file_name": {
          "type": "string",
          "description": ""
        },
        "embed_time": {
          "type": "boolean",
          "description": ""
        },
        "embed_code": {
          "type": "string",
          "description": ""
        },
        "created_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "camera_id": {
          "type": "string",
          "description": ""
        }
      },
      "description": ""
    },
    "Camera": {
      "type": "object",
      "title": "Camera",
      "properties": {
        "vendor_name": {
          "type": "string",
          "description": ""
        },
        "vendor_id": {
          "type": "string",
          "description": ""
        },
        "updated_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "timezone": {
          "type": "string",
          "description": ""
        },
        "thumbnail_url": {
          "type": "string",
          "description": ""
        },
        "rights": {
          "type": "string",
          "example": "snapshot,list,edit,delete,view,grant~snapshot,grant~view,grant~edit,grant~delete,grant~list",
          "description": ""
        },
        "proxy_url": {
          "type": "object",
          "properties": {
            "rtmp": {
              "type": "string",
              "description": ""
            },
            "hls": {
              "type": "string",
              "description": ""
            }
          }
        },
        "owner": {
          "type": "boolean",
          "description": ""
        },
        "owned": {
          "type": "string",
          "description": ""
        },
        "offline_reason": {
          "type": "string",
          "description": ""
        },
        "name": {
          "type": "string",
          "description": ""
        },
        "model_name": {
          "type": "string",
          "description": ""
        },
        "model_id": {
          "type": "string",
          "description": ""
        },
        "location": {
          "type": "object",
          "properties": {
            "lng": {
              "type": "integer",
              "description": ""
            },
            "lat": {
              "type": "integer",
              "description": ""
            }
          }
        },
        "last_polled_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "last_online_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "is_public": {
          "type": "boolean",
          "description": ""
        },
        "is_online_email_owner_notification": {
          "type": "boolean",
          "description": ""
        },
        "internal": {
          "type": "object",
          "properties": {
            "rtsp": {
              "type": "object",
              "properties": {
                "port": {
                  "type": "string",
                  "description": ""
                },
                "mpeg": {
                  "type": "string",
                  "description": ""
                },
                "h264": {
                  "type": "string",
                  "description": ""
                },
                "audio": {
                  "type": "string",
                  "description": ""
                }
              }
            },
            "http": {
              "type": "object",
              "properties": {
                "port": {
                  "type": "string",
                  "description": ""
                },
                "mjpg": {
                  "type": "string",
                  "description": ""
                },
                "h264": {
                  "type": "string",
                  "description": ""
                },
                "camera": {
                  "type": "string",
                  "description": ""
                }
              }
            },
            "host": {
              "type": "string",
              "description": ""
            }
          }
        },
        "id": {
          "type": "string",
          "description": ""
        },
        "external": {
          "type": "object",
          "properties": {
            "rtsp": {
              "type": "object",
              "properties": {
                "port": {
                  "type": "string",
                  "description": ""
                },
                "mpeg": {
                  "type": "string",
                  "description": ""
                },
                "h264": {
                  "type": "string",
                  "description": ""
                },
                "audio": {
                  "type": "string",
                  "description": ""
                }
              }
            },
            "http": {
              "type": "object",
              "properties": {
                "port": {
                  "type": "string",
                  "description": ""
                },
                "mjpg": {
                  "type": "string",
                  "description": ""
                },
                "h264": {
                  "type": "string",
                  "description": ""
                },
                "camera": {
                  "type": "string",
                  "description": ""
                }
              }
            },
            "host": {
              "type": "string",
              "description": ""
            }
          }
        },
        "discoverable": {
          "type": "boolean",
          "description": ""
        },
        "created_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "cloud_recordings": {
          "type": "object",
          "properties": {
            "storage_duration": {
              "type": "integer",
              "description": ""
            },
            "status": {
              "type": "string",
              "description": ""
            },
            "schedule": {
              "type": "object",
              "properties": {
                "wednesday": {
                  "type": "array",
                  "description": "00:00-23:59"
                },
                "tuesday": {
                  "type": "array",
                  "description": "00:00-23:59"
                },
                "thursday": {
                  "type": "array",
                  "description": "00:00-23:59"
                },
                "sunday": {
                  "type": "array",
                  "description": "00:00-23:59"
                },
                "saturday": {
                  "type": "array",
                  "description": "00:00-23:59"
                },
                "monday": {
                  "type": "array",
                  "description": "00:00-23:59"
                },
                "friday": {
                  "type": "array",
                  "description": "00:00-23:59"
                }
              }
            },
            "frequency": {
              "type": "integer",
              "description": ""
            }
          }
        },
        "cam_username": {
          "type": "boolean",
          "description": ""
        },
        "cam_password": {
          "type": "boolean",
          "description": ""
        }
      },
      "description": ""
    },
    "Archive": {
      "type": "object",
      "title": "Archive",
      "properties": {
        "type": {
          "type": "string",
          "description": ""
        },
        "to_date": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "title": {
          "type": "string",
          "description": ""
        },
        "thumbnail_url": {
          "type": "string",
          "description": ""
        },
        "status": {
          "type": "string",
          "description": ""
        },
        "requester_name": {
          "type": "string",
          "description": ""
        },
        "requester_email": {
          "type": "string",
          "description": ""
        },
        "requested_by": {
          "type": "string",
          "description": ""
        },
        "public": {
          "type": "boolean",
          "description": ""
        },
        "media_url": {
          "type": "string",
          "description": ""
        },
        "id": {
          "type": "string",
          "description": ""
        },
        "from_date": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "frames": {
          "type": "integer",
          "description": ""
        },
        "file_name": {
          "type": "string",
          "description": ""
        },
        "embed_time": {
          "type": "boolean",
          "description": ""
        },
        "embed_code": {
          "type": "string",
          "description": ""
        },
        "created_at": {
          "type": "string",
          "format": "ISO8601",
          "example": "2019-02-18T09:00:00.000+00:00",
          "description": ""
        },
        "camera_id": {
          "type": "string",
          "description": ""
        }
      },
      "description": ""
    }
  },
  "basePath": "/v2"
}